<ion-header>
  <ion-toolbar>
    <ion-title>comidas</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-content [fullscreen]="true">
    <ion-card>
      <img src="assets/asa-gohan.jpg">
      <ion-card-header>
        <ion-card-title>
          Asa Gohan: <h4> O Café da Manhã Tradicional Japonês
O Asagohan (café da manhã tradicional japonês) é bem diferente do ocidental. 
Os alimentos que o compõe, são praticamente os mesmos do Hirugohan (almoço) e Bangohan (jantar). 
Ele é composto por alimentos nutritivos 
e de fácil digestão tais como arroz branco, misoshiru, legumes em conservas e peixe grelhado.</h4>
        </ion-card-title>
        <ion-card-subtitle> 
          <ion-icon name="star" color="danger"></ion-icon>4.9<span class="pontos"></span>(124 votos) R$30,00 
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <img src="assets/sushi.jpg">
      <ion-card-header>
        <ion-card-title>
         ALMOÇO<H4>é um prato da culinária japonesa que possui
             origem numa antiga técnica de conservação da carne de peixe em arroz avinagrado.
              O sushi, na forma em que é conhecido atualmente, tem cerca de 200 anos; inicialmente, 
              era vendido em barado com molho de vinagre, açúcar e sal, combinado com algum tipo de peixe ou fruto do mar, 
            vegetais ou ovo</H4>
        </ion-card-title>
        <ion-card-subtitle>
          <ion-icon name="star" color="danger"></ion-icon>4.9<span class="pontos"></span>(124 votos)  R$30,00 
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <img src="assets/sashimi.jpg">
      <ion-card-header>
        <ion-card-title>
         ALMOÇO<H4>é uma iguaria da culinária japonesa que consiste de peixes e frutos do mar muito frescos,
            fatiados em pequenos pedaços e servidos apenas com algum tipo de molho (geralmente shoyu, pasta de wasabi, 
            condimentos como gengibre fresco ralado ou ponzu), 
           e guarnições simples como shiso e raiz de daikon fatiada</H4>
        </ion-card-title>
        <ion-card-subtitle>
          <ion-icon name="star" color="danger"></ion-icon>4.9<span class="pontos"></span>(124 votos) R$30,00 
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <img src="assets/temaki1.jpg">
      <ion-card-header>
        <ion-card-title>
         ALMOÇO<H4>Temaki (手巻き) é um tipo de sushi enrolado com nori (folha de alga) em formato de cone e 
           com uma grande variedade de recheios. Um temaki típico tem
            por volta de dez centímetros de comprimento, e deve ser comido com as mãos, 
            assim como qualquer outro sushi</H4>
        </ion-card-title>
        <ion-card-subtitle>
          <ion-icon name="star" color="danger"></ion-icon>4.9<span class="pontos"></span>(124 votos)   R$30,00 
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <img src="assets/peixegrelhado.jpg">
      <ion-card-header>
        <ion-card-title>
          ALMOÇO & JANTAR <H4>O peixe grelhado é um prato delicioso para o almoço ou jantar.</H4>
        </ion-card-title>
        <ion-card-subtitle>
          <ion-icon name="star" color="danger"></ion-icon>4.9<span class="pontos"></span>(124 votos) Café -Completo -  R$30,00 
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>
'</ion-content>
