<ion-header>
  <ion-toolbar>
    <ion-title>cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="conteudo">
    <ion-label class="titulo">Crie sua conta</ion-label><br>
  <div >
    
    <ion-item class="entrada">
      <ion-label position="floating">USUÁRIO</ion-label><br>
      <ion-input></ion-input>
    </ion-item>
    <ion-item class="entrada">
      <ion-label position="floating">ENDEREÇO</ion-label><br>
      <ion-input></ion-input>
    </ion-item>
    <ion-item class="entrada">
      <ion-label position="floating">Nº</ion-label><br>
      <ion-input></ion-input>
    </ion-item>
    <ion-item class="entrada">
      <ion-label position="floating">TELEFONE</ion-label><br>
      <ion-input></ion-input>
    </ion-item>
    <ion-item class="entrada">
      <ion-label position="floating">E-MAIL</ion-label><br>
      <ion-input></ion-input>
    </ion-item>
    <ion-item class="entrada">
      <ion-label position="floating" >SENHA</ion-label><br>
      <ion-input></ion-input>
    </ion-item>

    <ion-button class="criar" shape="round" expand="block">Cadastrar</ion-button>
    <ion-label class="aceite"><h3>clicando em Cadastrar voçê estará concordando com nosso termos</h3></ion-label>
    <ion-label class="aceite"><h3>já tinha conta</h3>  ?  <span class="login"><h3>Entre aqui</h3></span></ion-label>
  </div>
<ion-content>