<ion-header>
  <ion-toolbar>
  
    <ion-title>email</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    
      <ion-label class="titulo">Entrar com sua conta</ion-label><br>
  
  <ion-item class="entrada">
    <ion-label position="floating">E-MAIL</ion-label><br>
    <ion-input></ion-input>
  </ion-item>
  <ion-item class="entrada">
    <ion-label position="floating">SENHA</ion-label><br>
    <ion-input></ion-input>
  </ion-item>
 
  <ion-item>
    <ion-label class="titulo">esqueceu a senha?</ion-label><br>
  </ion-item>
  <ion-button class="criar" shape="round" expand="block">ENTRAR</ion-button>
    <ion-label class="criar" >clicando em Entrar voçê estará concordando com nossos termos</ion-label> <br>
    <ion-label class="criar" >  Não possui conta? <a href="/cadastro">clique aqui</a></ion-label>
    
  <br>
 
     
   
</ion-content>