<ion-header>
  <ion-toolbar>
    <ion-title>Ofertas</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  

  <div class="cabecalho">
    <ion-grid>
      <ion-row>
        <ion-col size="7">
          <ion-label class="titulo">ÚLTIMAS OFERTAS</ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label class="subtitulo"><h2>Encontre, Descontos, Ofertas, <br>
             Refeições Especiais e Muito Mais</h2></ion-label> <br>
        
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button class="botao" shape="round" size="small">20% AVISTA</ion-button>
        </ion-col>
        
        <ion-card>
          <img class="imagem" src="assets/peixegrelhado1.jpg">
          <ion-card-header>
            <ion-card-title>
              Tradicional Comida Japonesa
            </ion-card-title>
            <ion-card-subtitle>
              <ion-icon name="star" color="danger"></ion-icon>
              <span class="pontos">4.9</span>(500 votos)janta completas-R$50.00
              <ion-button>Comprar </ion-button>
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
        <ion-card>
          <img class="imagem" src="assets/sushi1.jpg">
          <ion-card-header>
            <ion-card-title>
              SUSHI
            </ion-card-title>
            <ion-card-subtitle>
              <ion-icon name="star" color="danger"></ion-icon>
              <span class="pontos">2.5</span>(123 votos)janta completas-R$36.99
              <ion-button>Comprar </ion-button>
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
        <ion-card>
          <img class="imagem" src="assets/uramaki.jpg">
          <ion-card-header>
            <ion-card-title>
              Uramaki (enrolado ao contrário)
              <H5>Pedaço cilíndrico médio, com dois ou mais recheios.
                 O arroz vem na parte externa e o nori na interna. 
                 O recheio fica no meio, rodeado pelo nori.</H5>
            </ion-card-title>
            <ion-card-subtitle>
              <ion-icon name="star" color="danger"></ion-icon>
              <span class="pontos">3.2</span>(70 votos)janta completas-R$20.00
              <ion-button>Comprar </ion-button>
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
        <ion-card>
          <img class="imagem" src="assets/temaki.jpg">
          <ion-card-header>
            <ion-card-title>
              TEMAKI
              <h5>Sushi enrolado à mão, tem formato de cone, com o nori na parte externa e
                 os ingredientes até à boca da extremidade larga.</h5>
            </ion-card-title>
            <ion-card-subtitle>
              <ion-icon name="star" color="danger"></ion-icon>
              <span class="pontos">2.5</span>(123 votos)janta completas-R$36.99
              <ion-button>Comprar </ion-button>
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-row>
      </ion-grid>
  </div>

</ion-content>
