<ion-header >
  <ion-toolbar>
    <ion-title>Yakizakana</ion-title>
    <ion-buttons slot="start">
    <ion-menu-button menu="main-menu"></ion-menu-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  
<ion-slides pager="true" [options]="slidesopts">
  <ion-slide>
    <ion-grid class="cordeletras">
      <ion-row>
        <ion-col >
          <ion-label class="entrar"> <a href="/email">Entrar</a></ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
           <img src="assets/foto1.jpg" class="imglogin" >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>PEIXE GRELHADO</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label><h2>Yakizakana é originário do Japão e significa literalmente "peixe grelhado". 
            É distinto por ser uma cozinha caseira simples e comum, feita com peixes da estação e 
            frequentemente servida com daikon.

            Devido à sua natureza simplista, não se sabe muito sobre a história exata do yakizakana. 
            Diz a lenda que foi criado pelos primeiros pescadores humanos que ficaram insatisfeitos 
            com a ingestão de peixes crus que se retorciam e exigiam ser soltos, ou então mandariam os 
            humanos para um poço de fogo. Esses primeiros pescadores provavelmente consideraram apropriado
             matar os peixes e, em seguida, grelhá-los em uma cova de fogo, após o que os pescadores ficaram 
             satisfeitos ao descobrir que o peixe não precisava mais ser solto e tinha um gosto muito bom,
             todo quente e cozido </h2></ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>SINTA O SABOR DE UM BOM PEIXE GRELHADO</ion-label>
        </ion-col>
      </ion-row> 
      <ion-row>
        <ion-col>
        
          <ion-button a href="/cadastro" criar a class="criar" shape="roud" expand="block">criar conta</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button class="face" shape="roud" expand="block" a href="https://www.facebook.com/biel.pereira.7587370/">
            <ion-icon  class="icoface" name="logo-facebook"></ion-icon> 
            continuar com FACEBOOK
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>
</ion-slides>
</ion-content>
